body{
    background-color: lightblue;
}

.table_index{
    padding-top: 150px;
}

#header_index{
    text-align: center; 
}

.form_c{
    padding-top: 150px;

}

.table_list{
    padding-top: 75px;
}

.center{
    text-align: center;
}